body{
	margin: 0;
	overflow: hidden;
}
.sidebar{
	position: absolute;
	width: 270px;
	height: 100%;
	/*background: #2f3030;*/
	background: #000;
	color: #fff;
	outline: 1px solid #2a2a2a;
}

.sidebar h2 {
	text-align: center;
	margin: 0;
	padding: 10px;
	/*background: #2a2a2a;*/
	background: #110000;
}
.sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li{
	outline: 1px solid #2a2a2a;
	transition: border 0.3s;
}

.sidebar li:hover{
	background:#f2be04;
	border-left: 7px solid #a30606;
	color: black;
}
.sidebar a{
	display: block;;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

.contenido{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #eee;
	padding: 20px;
	transition: all 0.3s;
	box-sizing: border-box;
}

.menu-bar{
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.abrir{
	transform: translateX(270px);
}

.contenedor{
	position: absolute;
	right: 60px;
	left: 70px;
	height: 100%;
	background-color: #eee;
	box-sizing: border-box;
	float: right;
}

.FontBlack{
	color: #000;
}

table th{
	padding: 5px;
}

.table-thead{
	padding: 6px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.table-td{
	padding: 6px;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.btn-dark{
	background-color: #2b0000;
	color: white;
}
#btn-pPendientes:hover, #btn-tPedidos:hover{
	color: #0eacc1;
	background-color: #000;
}


/*Estilo Menu deslizante*/
*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	color: #bcbcbc;
}

div#menu{
    position: absolute;
    width:80px;
    height: 100%;
    background-color:#2f3030;
    overflow: hidden;
    -webkit-transition: width 0.5s;
}
div#menu:hover{
	width: 250px;
}

div#sidenav {
	width: 40px;
	height: 40px;
	margin: 10px;
	background-image: url(../img/bars1.png);
}

div.menu-contenedor{
	width: 150px;
	height: 100%;
	margin-left: 10px;
}
div.sangria{
	width: 100px;
	height: 100px;
	float: left;
}

a.texto{
	margin-left:80px;
	line-height: 40px;
}

#cantOrder{
	/*background: #000000;*/
	background-color:transparent;
	color: #ff0000;
	border:none;
	font-size: 20px;
	width: 30px;
	/*style="border:none" */
}


/*EStilo contenedor*/

/*
div#contenedor{
	position: absolute;
	right: 0px;
	left: 260px;
	height: 100%;
	background-color: #f2be04;
}
*/