    <link href="css/style-comp-patient.css" rel="stylesheet">
<div class="row" id="finscription">
    <div class="col-sm-12">
      <br><br><br>
        <h2><center>Registrar Alumno</center> </h2>
        <br><br>
        <form id="formRegPaciente" name="form1" method="post">
            <table class="table table-sm">
                <tr>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Nombre y apellido</span>
                          </div>
                          <input type="text" id="nombre" class="form-control" placeholder="Nombre del paciente" required="true" aria-label="Small">
                        </div>
                        
                    </td>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Fecha de nacimiento</span>
                          </div>
                          <input type="date" class="form-control" id="fnacimiento" placeholder="Fecha de nacimiento" required="true" aria-label="Small" >
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Sexo</label>
                          </div>
                          <select id="genero" class="custom-select custom-select-sm" id="inputGroupSelect01">

                          </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Carrera</span>
                          </div>
                          <input type="text" id="profesion" class="form-control" placeholder="Carrera" required="true" aria-label="Small" >
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Grado</span>
                          </div>
                          <input type="text" id="Grado" class="form-control" placeholder="Escolaridad" required="true" aria-label="Small">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Seccion</span>
                          </div>
                          <input type="text" id="Grado" class="form-control" placeholder="Seccion" required="true" aria-label="Small">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Residenci</span>
                          </div>
                          <input type="text" id="residencia" class="form-control" placeholder="direccion" required="true" aria-label="Small">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Encargado</span>
                          </div>
                          <input type="text" id="finfo" class="form-control" placeholder="Nombre y apellido" required="true" aria-label="Small">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">DPI</span>
                          </div>
                          <input type="number" id="dpi" class="form-control" placeholder="DPI" required="true" aria-label="Small">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Telefono</span>
                          </div>
                          <input type="number" id="telemerg" class="form-control" placeholder="Telefono de emergencia" required="true" aria-label="Small">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Emergencia</span>
                          </div>
                          <input type="text" id="nomemerg" class="form-control" placeholder="Telefono" required="true" aria-label="Small">
                        </div>
                    </td>

                    <td>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Parentesco</span>
                          </div>
                          <input type="text" id="parentesco" class="form-control" placeholder="Parentesco" required="true" aria-label="Small">
                        </div>
                    </td>

                </tr>
                
            </table>


            
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button> 
            <!-- <button id="btn-registrar" type="submit" name="button" class="btn btn-success btn-sm"> Guardar +</button> -->
        </form>


    </div>
</div>

<script src="js/insert.js"></script>
<script type="text/javascript">
    loadcmb();
</script>