<div class="container">
    <br>
    <div class="row">
        <h3 style="text-align:center">Nuevas preguntas</h3>
    </div>
    <br>
    <form class="form-horizontal" method="POST" action="guardar.php" autocomplete="off">
        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Ingrese una Pregunta</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="newquestion" name="nombre" placeholder="Descripcion de la pregunta" required>
            </div>
        </div>
        <br>

        <table class="table table-sm">
            <tr>
                <td>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Opcion 1</span>
                      </div>
                      <input type="text" id="op1" placeholder="Opcion 1" required class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Opcion 2</span>
                      </div>
                      <input type="text" id="op2" placeholder="Opcion 2" required class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Opcion 3</span>
                      </div>
                      <input type="text" id="op3" placeholder="Opcion 3" required class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </td>
                <td>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Opcion 4</span>
                      </div>
                      <input type="text" id="op4" placeholder="Opcion 4" required class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </td>
            </tr>
        </table>
        <!--
        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Opcion1</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="op1" placeholder="Opcion 1" required>
            </div>
        </div>


             <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Opcion2</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="op2" name="nombre" placeholder="Opcion 2" required>
            </div>
        </div>


        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Opcion3</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="op3" name="nombre" placeholder="Opcion 3" required>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Opcion4</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="op4" name="nombre" placeholder="Opcion 4" required>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Respuesta</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="answerquestion" name="nombre" placeholder="Respuesta Correcta" required>
            </div>
        </div>
        -->
        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Respuesta</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="answerquestion" name="nombre" placeholder="Respuesta Correcta" required>
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">Nivel</label>
            <div class="col-sm-10">
                
          <select class="custom-select" id="Nivel">
            <option value="1">Nivel Principiante</option>
            <option value="2">Nivel Intermedio</option>
            <option value="3">Nivel Avanzado</option>
          </select>
            </div>
        </div>
    </form>

        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-5">
                <button class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary " onclick="newQuestions()">Guardar</button>
            </div>
        </div>
        <br>
</div>